.box1{
	font-family: univers;
	font-size: 17px;
	text-align: left;
	color: white;
  	text-shadow: 2px 2px 4px rgb(140,61,206);
  	padding-left: 15%;
}

.box2{
	font-family: univers;
	font-size: 17px;
	text-align: left;
	color: white;
  	text-shadow: 2px 2px 4px rgb(45,102,191);
  	padding-left: 35%;
}

.box3{
	font-family: univers;
	font-size: 17px;
	text-align: left;
	color: white;
  	text-shadow: 2px 2px 4px rgb(104,229,235);
  	padding-left: 55%;
}

.box4{
	font-family: univers;
	font-size: 17px;
	text-align: left;
	color: white;
  	text-shadow: 2px 2px 4px rgb(219,49,96);
  	padding-left: 75%;
}


