.box1{
	text-align: left;
	color: white;
	font:strong;
}

.box2{
	text-align: center;
	color: white;
}

.box3{
	text-align: right;
	color: white;
}

.box4{
	text-align: right;
	color: white;
}

body{
	background-image: linear-gradient(rgb(104,229,235), rgb(140,61,206))
}